@charset "UTF-8";
/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Shalimar&display=swap");
/* Reseteo */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.body-form .formulario form .boton-form {
  background-color: #074696;
  font-size: 18px;
  color: #fafafa;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 15px #fafafa; }

.header .img-logo a .logo, .container-productos article .procesadores-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*/////////////////////////////
///////// ENCABEZADO ////////// 
/////////////////////////// */
.header {
  height: 180px;
  background: linear-gradient(45deg, red, black, red, black, red, black);
  display: flex;
  align-items: center;
  justify-content: center; }
  .header h1 {
    color: #fafafa;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    padding: 5px 12px;
    margin: 0;
    font-family: 'Roboto Mono', monospace, sans-serif;
    box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.8); }
  .header .img-logo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 20px;
    height: 130px;
    width: 200px;
    box-shadow: 0px 0px 15px #fafafa;
    border-radius: 10%; }
    .header .img-logo a .logo {
      border-radius: 10%; }

/*//////////////////////////////////
////// BARRA DE NAVEGACIÓN /////////
//////////////////////////////////*/
.nav-menu {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: #6e6e6e;
  animation-name: fondoheader;
  animation-duration: 7s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes fondoheader {
  0% {
    background-color: #b4b400; }
  25% {
    background-color: #005a00; }
  50% {
    background-color: blue; }
  75% {
    background-color: #6e6e6e; }
  100% {
    background-color: #ff00b4; } }
  .nav-menu .ul-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav-menu .ul-nav .li-nav {
      margin: 10px;
      width: 180px;
      height: 50px;
      background-color: #074696;
      font-size: 18px;
      border: 1px solid #000500;
      border-radius: 20px;
      box-shadow: 0px 0px 20px #fafafa; }
      .nav-menu .ul-nav .li-nav .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 20px;
        color: #fafafa;
        width: 100%;
        height: 100%;
        padding: 0px; }
        .nav-menu .ul-nav .li-nav .nav-link:hover {
          font-size: 22px;
          transition: 300ms;
          color: #18fd18;
          background: rgba(0, 0, 0, 0.448);
          box-shadow: 0px 2px 10px #000500; }

/* /////////////////////////
//// SECCIÓN PRINCIPAL ////
////////////////////////*/
main {
  background-image: url(../imagenes/fondo.png); }
  main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main section h2 {
      font-size: 28px;
      text-align: center;
      padding: 20px;
      color: #b92b2b;
      font-family: 'Roboto Mono', monospace; }
    main section .presentacion-ecomerce {
      padding: 10px;
      text-align: center;
      color: #fafafa;
      font-family: Arial, Helvetica, sans-serif; }
    main section .lorem-parrafo {
      background-color: rgba(0, 0, 0, 0.4);
      color: #fafafa;
      padding: 10px;
      margin: 20px;
      text-align: justify;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 800; }
  main aside {
    text-align: center;
    color: #fafafa;
    font-family: 'Roboto Mono', monospace;
    padding: 20px; }
    main aside h3 {
      margin-top: 25px; }

/*//////////////////////////////////////
///// APLICANDO GRID AL INDEX /////////
//////////////////////////////////// */
.section-grid-item {
  grid-area: section; }

aside {
  grid-area: aside; }

.grid-main {
  display: grid;
  min-height: 100%;
  grid-template: "section aside" auto/
 70% 30%; }

/* ////////////////////
//// RESPONSIVE //////
////////////////// */
@media screen and (max-width: 1300px) {
  .header h1 {
    font-size: 35px; }
  .header .img-logo {
    height: 100px;
    width: 145px; }
  .nav-menu .ul-nav .li-nav {
    margin: 5px;
    width: 150px;
    height: 50px;
    font-size: 16px; }
  .grid-main {
    grid-template: "section" auto
 "aside"   auto /
 100%; } }

/* responsive 800px */
@media screen and (max-width: 800px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px; }
    .header .img-logo {
      height: 90px;
      width: 125px; }
  .nav-menu .ul-nav .li-nav {
    width: 120px;
    height: 40px;
    font-size: 16px; } }

/* responsive 650px */
@media screen and (max-width: 650px) {
  .header {
    padding-bottom: 30px; }
    .header h1 {
      font-size: 25px;
      margin: 0; }
    .header .img-logo {
      height: 70px;
      width: 110px; }
  .nav-menu {
    height: auto;
    padding: 10px; }
    .nav-menu .ul-nav {
      flex-direction: column; }
      .nav-menu .ul-nav .li-nav {
        width: 300px;
        height: 50px; } }

/* responsive 400px */
@media screen and (max-width: 400px) {
  aside .iframe {
    width: 290px;
    height: auto; } }

/*///////////////////////////////////////////
///// FOOTER  (COPYRIGHT Y REDES) //////////
//////////////////////////////////////////*/
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: #074696;
  padding: 20px 5px;
  color: #b4b4b4; }
  footer .redes-footer {
    margin: 18px 10px; }
    footer .redes-footer a {
      text-decoration: none;
      color: #fafafa;
      margin: 0px 12px; }
      footer .redes-footer a:hover {
        color: #18fd18; }
      footer .redes-footer a .icon-footer {
        width: 35px;
        height: 35px;
        margin: 5px;
        vertical-align: middle;
        box-shadow: 0px 0px 5px #fafafa;
        border-radius: 8px; }
  footer .wp-link {
    text-decoration: none;
    color: #fafafa;
    background-color: green;
    border: 1px #fafafa;
    border-radius: 8px;
    padding: 5px; }
    footer .wp-link:hover {
      box-shadow: 0px 0px 5px #fafafa; }
  footer .p-developer {
    font-size: 16px;
    margin: 12px 0px 8px; }
  footer h4 {
    font-size: 16px;
    font-weight: 500;
    color: #b4b4b4; }

/* responsive 650px */
@media screen and (max-width: 650px) {
  footer .redes-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    footer .redes-footer a {
      padding: 15px 15px 15px 65px;
      transition: linear 4s 1000ms; } }

/*////////////////////////////////
////// ARMA TU PC.HTML //////////
////////////////////////////////*/
.h3-procesadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .h3-procesadores h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #b92b2b;
    margin: 25px 8px 10px 8px; }
  .h3-procesadores .anchor-amd-intel {
    margin: 20px auto; }
    .h3-procesadores .anchor-amd-intel .opcion-intel-amd {
      border: 3px solid #b92b2b;
      width: 280px;
      height: 220px;
      padding: 15px; }
      .h3-procesadores .anchor-amd-intel .opcion-intel-amd:hover {
        box-shadow: 0px 2px 15px;
        transition: 800ms; }

/* ///////////////////////
//// PRODUCTOS.HTML /////
////////////////////// */
.h2-productos {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #b92b2b; }

.container-productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .container-productos article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 320px;
    border: 2px solid #000500;
    margin: 40px;
    font-size: 20px; }
    .container-productos article:hover {
      color: #fafafa;
      background-color: #000500; }
    .container-productos article h3 {
      color: #b92b2b;
      padding: 3px;
      font-family: sans-serif;
      font-size: 25px; }
    .container-productos article p {
      text-align: center; }
    .container-productos article p strong {
      font-size: 22px; }
    .container-productos article .envio {
      color: #00800b;
      font-weight: 900; }
    .container-productos article .ver-mas {
      display: inline-block;
      width: 50%;
      text-decoration: none;
      text-align: center;
      margin: 3px;
      padding: 10px;
      background-color: #074696;
      color: #fafafa; }
      .container-productos article .ver-mas:hover {
        background-color: #075a96; }

.body-quienes-somos {
  background-color: #000500; }

/* CARRUSEL */
.carousel-inner .carousel-item h2 {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fafafa;
  background-color: rgba(10, 9, 9, 0.407);
  padding: 2px; }

.carousel-inner .carousel-item p {
  font-size: 20px;
  color: #fafafa;
  background-color: rgba(10, 9, 9, 0.407);
  border: 1px solid #b92b2b;
  border-radius: 5px; }

.text-informativo {
  margin: 16px 0px; }
  .text-informativo h3 {
    color: #b92b2b; }
  .text-informativo p {
    color: #fafafa; }

/* Texto Oculto */
.text-hidden {
  display: none; }

/* RESPONSIVE 600px */
@media screen and (max-width: 767px) {
  .text-hidden {
    display: block; }
    .text-hidden h3 {
      color: #b92b2b; }
    .text-hidden p {
      color: #fafafa; } }

/*/////////////////////////////////////
/////////// CONTACTANOS.HTML //////////
////// (FORMULARIO DE CONTACTO) //////
////////////////////////////////////*/
.body-form {
  background-color: #000500; }
  .body-form .formulario {
    display: flex;
    justify-content: center;
    margin: 30px; }
    .body-form .formulario form fieldset {
      border: 6px outset #b4b4b4;
      padding: 15px;
      color: #fafafa;
      font-size: 22px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #000500;
      width: auto; }
    .body-form .formulario form legend {
      padding: 16px;
      text-align: center; }
    .body-form .formulario form label {
      display: flex;
      justify-content: center;
      margin: 12px; }
    .body-form .formulario form input {
      display: flex;
      margin: auto;
      padding: 15px;
      box-shadow: 0px 0px 15px #18fd18; }
    .body-form .formulario form div textarea {
      display: flex;
      justify-content: center;
      padding: 15px;
      margin: 25px 0px;
      font-size: 16px;
      text-align: justify;
      border-radius: 15px;
      box-shadow: 0px 0px 15px #b92b2b;
      width: 100%;
      resize: none; }
    .body-form .formulario form .boton-form:hover {
      box-shadow: 0px 0px 15px #18fd18;
      cursor: pointer; }
  .body-form .map-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px; }
    .body-form .map-ubicacion h3 {
      color: #fafafa;
      font-family: sans-serif;
      text-align: center; }
    .body-form .map-ubicacion iframe {
      width: 300px;
      height: 210px;
      margin: 5px 0px; }

/* Carrito de compras */
.icono-ecomerce {
  width: 60px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 25px;
  right: 18px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.8);
  border-radius: 15%;
}
#contadorCarrito {
  display: flex;
  position: absolute;
  top: 12px;
  right: 38px;
  color: #fafafa;
  font-size: large;
  font-weight: 1000;
}
#boton-carrito {
  position: absolute;
  top: -4px;
  right: 5px;
}
.closebtn {
  width: 150px;
  height: 30px;
  margin: 4px;
  border: solid 1px rgba(255, 0, 0, 0.712);
  border-radius: 20px;
  background-color: #5d645d;
  color: white;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.685);
  font-size: 16px;
  font-weight: 600;
}
.vaciarbtn {
  width: 150px;
  height: 30px;
  margin: 4px;
  border: solid 1px #5d645d;
  border-radius: 20px;
  background-color:rgba(255, 0, 0, 0.712);
  color: white;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.685);
  font-size: 16px;
  font-weight: 600;
}
.borrar-producto {
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 3px;
  margin-top: 6px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.685);
}
.precioProducto {
  width: 180px;
  height: 30px;
  padding: 5px;
  margin: 10px 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 0px 3px 2px rgba(18, 18, 18, 0.685);
  border-radius: 10px;
}
/* tarjetas En Carrito */
.producto-en-carro {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  margin: 8px;
  padding: 3px;
  text-align: center;
  border: 5px solid #074696;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px #074596be;
}
/* Modal carrito de Compras */
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333;
  color: white;
  overflow-x: hidden;
  padding-top: 35px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  width: 190px;
}

/* Buscardor */
.buscador {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.buscar {
  width: 275px;
  height: 45px;
  margin: 3px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 3px rgba(47, 41, 29, 0.6);
  font-size: 14px;
  font-weight: 600;
}
.buscar-btn {
  height: 45px;
  margin: 3px;
  padding: 6px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fafafa;
  background-color: #074696;
  box-shadow: 0px 3px 5px 1px rgba(47, 41, 29, 0.6);;
}
.buscar-btn:hover {
  background-color: #000500e8;
  transition: 1.2s;
}
.text-busqueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 18px auto 0px auto;
  box-shadow: 8px 8px 30px #0202028f;
  color:rgba(47, 80, 80, 0.85);
}
