@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Shalimar&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*/////////////////////////////
///////// ENCABEZADO ////////// 
/////////////////////////// */

.header {
    background-color: rgb(185, 43, 43);
    height: 180px;
    background: linear-gradient(45deg,red,black, red,black,red,black);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 5px 12px;
    margin: 0;
    font-family: 'Roboto Mono', monospace, sans-serif;
    box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.8);
}

.img-logo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 20px;
    height: 142px;
    width: 200px;
    box-shadow: 0px 0px 15px white;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*//////////////////////////////////
////// BARRA DE NAVEGACIÓN /////////
//////////////////////////////////*/

.nav-menu {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: rgb(110, 110, 110);
    animation-name: fondoheader;
    animation-duration: 7s;
    animation-delay: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fondoheader {
    0%    {background-color: rgb(180, 180, 0)}
    25%   {background-color: rgb(00, 90, 0);}
    50%   {background-color: rgb(0, 0, 255);}
    75%   {background-color: rgb(110, 110, 110);}
    100%  {background-color: rgb(255, 0, 180);}
}

.ul-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* Solucion a Bootstrap que me rompia el Nav 1 */
    margin: 0;
    padding: 0;
}

.li-nav {
    margin: 10px;
    width: 180px;
    height: 50px;
    background-color: rgb(7, 70, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px white;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* Solucion a Bootstrap 2*/
    padding: 0px;
}

.nav-link:hover {
    color: rgb(24, 253, 24);
    font-size: 20px;
    transition: 300ms;
    box-shadow: 0px 6px 3px black;
}

/*/////////////////////////////////////////
////// SECCIÓN PRINCIPAL (INICIO) /////////
////////////////////////////////////////*/

main {
    background-image: url(../imagenes/fondo.png);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    font-size: 28px;
    text-align: center;
    padding: 20px;
    color: rgb(185, 43, 43);
    font-family: 'Roboto Mono', monospace;
}

.presentacion-ecomerce {
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.lorem-parrafo {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-img {
    display: flex;
    width: 900px;
    height: auto;
    margin: 20px;
}

.img-computadora {
    width: 100%;
}

aside {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

aside h3 {
    margin-top: 25px;
}

/*///////////////////////////////////////////
///// FOOTER  (COPYRIGHT Y REDES) //////////
//////////////////////////////////////////*/

footer {
    text-align: center;
    font-size: 18px;
    background-color: rgb(7, 70, 150);
    padding: 20px;
    color: rgb(155, 143, 143);
}

.redes-footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.redes-footer a:hover {
    color: rgb(24, 253, 24);

}
/*//////////////////////////////////////
///// APLICANDO GRID AL INDEX /////////
//////////////////////////////////// */

.section-grid-item {
    grid-area: section;
}

aside {
    grid-area: aside;
}

.grid-main {
    display: grid;
    min-height: 100%;
    grid-template: 
    "section aside" auto/
    70% 30%
    ;
}
/*/////////////////////////////////////////////////
///// RESPONSIVE (SECCÓN PRINCIPAL:INICIO) ///////
/////////////////////////////////////////////////*/

@media screen and (max-width: 1300px) { 
    h1{
        font-size: 35px;
    }
    
    .img-logo {
        height: 100px;
        width: 145px;
    }
    
    .li-nav {
        margin: 5px;
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
    .grid-main {
        grid-template: 
    "section" auto
    "aside"   auto /
    100%
    ;
    }
    .section-img {
        width: auto;
    }
}

@media screen and (max-width: 800px) {
    .img-logo {
        height: 90px;
        width: 125px;
    }
    .header {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
    }
    
    .li-nav {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
} 

@media screen and (max-width: 650px) {
    .header {
        padding-bottom: 30px;
    }

    h1 {
        font-size: 25px;
        margin: 0;
    }

    .img-logo {
        height: 70px;
        width: 110px;
    }

    .ul-nav {
        flex-direction: column;
    }

    .nav-menu {
        height: auto;
        padding: 10px;
    }

    .li-nav {
        width: 300px;
        height: 50px;
    }

    aside h2 {
        font-size: 22px;
    }

    .redes-footer {
        display: flex;
        flex-direction: column;
    }

    .redes-footer a {
        padding: 20px;
        transition: linear 4s 1000ms;
    }
}

@media screen and (max-width: 400px) {
    .iframe {
        width: 290px;
        height: auto;
    }
}

/*////////////////////////////////
////// ARMA TU PC.HTML //////////
////////////////////////////////*/

.h3-procesadores {
    text-align: center;
    padding: 40px 0px 30px 0px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.h3-procesadores a {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.option-intel-amd {
    border: 3px solid rgb(185, 43, 43);
    padding: 20px;
    margin: 25px;
    width: 280px;
    height: 220px;
}

/*///////////////////////////
///// PRODUCTOS.HTML ///////
///////////////////////////*/

.h2-productos {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    width: 250px;
    height: 280px;
    border: 3px solid black;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

article:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

article h2 {
    color: rgb(185, 43, 43);
    padding: 3px;
    font-family: sans-serif;
}

article p {
    text-align: center;
}

.procesadores-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*////////////////////////////////
////// QUIENES SOMOS.HTML ////////
////////////////////////////////*/

.quienes-somos {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.quienes-somos p {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    width: 50%;
    display: inline-block;
    justify-content: center;
}

.img-quienes-somos {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border: 3px solid rgb(185, 43, 43);
}


/*//////////////////////////////////////////////////
///// APLICANDO GRID A "QUIENES SOMOS.HTML" ///////
/////////////////////////////////////////////////*/

.header {
    grid-area: header;
}

.nav-menu {
    grid-area: nav-menu;
}

.quienes-somos {
    grid-area: quienes-somos;
}

.footer {
    grid-area: footer;
}

.grid-conteiner-quienes-somos {
    display: grid;
    min-height: 100%;
    grid-template: 
    "header"        auto
    "nav-menu"      auto
    "quienes-somos" auto
    "footer"        auto /
    auto
    ;
}

/*////////////////////////////////////
///// RESPONSIVE QUIENES SOMOS //////
///////////////////////////////// */

@media screen and (max-width: 700px) { 
    .quienes-somos p {
        font-size: 20px;
    }
}

/*////////////////////////////////////
//////// CONTACTANOS.HTML ////////////
////// (FORMULARIO DE CONTACTO) //////
////////////////////////////////////*/

.body-form {
    background-color: rgb(0, 0, 0);
}

.formulario {
    display: flex;
    justify-content: center;
    margin: 30px;
}

fieldset {
    border: 10px outset rgb(180, 180, 180);
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    width: auto;
}

legend {
    padding: 20px;
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    margin: 12px;
}

input {
    display: flex;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 15px red;
}

textarea {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 25px 0px;
    font-size: 16px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 0px 0px 15px red;
    width: 100%;
}

.boton-form {
    background-color: rgb(7, 70, 150);
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0px 0px 15px white;
}

.boton-form:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/*///////////////////////////////////
///// RESPONSIVE FORMULARIO ////////
//////////////////////////////// */

@media screen and (max-width: 600px) {
    label {
        display: flex;
        justify-content: flex-start;
        margin: 12px;
    }
    input {
        margin: 10px;
    }
    .boton-form {
        margin: auto;
    }
}

