/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Shalimar&display=swap');
/* Reseteo */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}