/*/////////////////////////////////////
/////////// CONTACTANOS.HTML //////////
////// (FORMULARIO DE CONTACTO) //////
////////////////////////////////////*/

.body-form {
    background-color: $black;
    .formulario {
        display: flex;
        justify-content: center;
        margin: 30px;
        form {
            fieldset {
                border: 10px outset $grey;
                padding: 15px;
                color: $white;
                font-size: 22px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                background-color: $black;
                width: auto;
            }
            legend {
                padding: 20px;
                text-align: center;
            }
            label {
                display: flex;
                justify-content: center;
                margin: 12px;
            }
            input {
                display: flex;
                margin: auto;
                padding: 15px;
                box-shadow: 0px 0px 15px $red;
            }
            div {
                textarea {
                    display: flex;
                    justify-content: center;
                    padding: 15px;
                    margin: 25px 0px;
                    font-size: 16px;
                    text-align: justify;
                    border-radius: 15px;
                    box-shadow: 0px 0px 15px $red;
                    width: 100%;
                }
            }
            .boton-form {
                @extend %botonBlue;
                &:hover {
                        background-color: $white;
                        color: $black;
                        cursor: pointer;
                }
            }
        }
    }
}

/* RESPONSIVE 600PX */
@media screen and (max-width: 600px) {
    .formulario {
        form {
            label {
                display: flex;
                justify-content: flex-start;
                margin: 12px;
            }
            input {
                margin: 10px;
            }
            div {
                .boton-form {
                    margin: auto;
                }
            }
        }
    }
}

