/*/////////////////////////////////////
/////////// CONTACTANOS.HTML //////////
////// (FORMULARIO DE CONTACTO) //////
////////////////////////////////////*/

.body-form {
    background-color: $black;
    .formulario {
        display: flex;
        justify-content: center;
        margin: 30px;
        form {
            fieldset {
                border: 6px outset $grey;
                padding: 15px;
                color: $white;
                font-size: 22px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                background-color: $black;
                width: auto;
            }
            legend {
                padding: 16px;
                text-align: center;
            }
            label {
                display: flex;
                justify-content: center;
                margin: 12px;
            }
            input {
                display: flex;
                margin: auto;
                padding: 15px;
                box-shadow: 0px 0px 15px $green;
            }
            div {
                textarea {
                    display: flex;
                    justify-content: center;
                    padding: 15px;
                    margin: 25px 0px;
                    font-size: 16px;
                    text-align: justify;
                    border-radius: 15px;
                    box-shadow: 0px 0px 15px $red;
                    width: 100%;
                    resize: none;
                }
            }
            .boton-form {
                @extend %botonBlue;
                &:hover {
                        box-shadow: 0px 0px 15px $green;
                        cursor: pointer;
                }
            }
        }
    }
    .map-ubicacion {
        @include flexItems(flex,column,center,center);
        margin: 40px 0px;
        h3 {
            color: $white;
            font-family: sans-serif;
            text-align: center;
        }
        iframe {
            width: 300px;
            height: 210px;
            margin: 5px 0px;
        }
    }
}